# Build folders
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Editor/IDE settings
.vscode/
.idea/
*.swp

# Compiled binaries
*.out
*.o
*.obj
*.so
*.a
*.exe

# Logs and debug
*.log
*.trace

# Temporary files
*.tmp
*.bak
*~

# System-specific
.DS_Store
Thumbs.db
